<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0IY6ZJpZnUmjT16bcNEOjhh8ssBUMWqo</string>
	<key>GCM_SENDER_ID</key>
	<string>359532276232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.test1</string>
	<key>PROJECT_ID</key>
	<string>cc-w5-cf24b</string>
	<key>STORAGE_BUCKET</key>
	<string>cc-w5-cf24b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359532276232:ios:cc74e17e32845cf3dbffbd</string>
</dict>
</plist>